# This is Git's per-user configuration file.
[user]
    name = Jesse Box
    email = me@jessebox.net 
[core]
    editor = vi
[credential]
	helper = store
[url "git@github.com:"]
	insteadOf = https://github.com/
