[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Jesse Box
	email = me@jessebox.net
[core]
	editor = vi 
# define command which will be used when "vi" is set as a merge tool
[mergetool "vi"]
  cmd = vi -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "vi" as tool for merging
[merge]
  tool = vi
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false

[credential "https://github.com"]
        helper =
        helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/1.8.1/bin/gh auth git-credential
